In [136]:
import pandas as pd

In [137]:
df1=pd.read_csv('G:\\Datascience_experiments\\Assignment_news_classification_bangalore\\categories.csv')

In [138]:
df2=pd.read_csv('G:\\Datascience_experiments\\Assignment_news_classification_bangalore\\category_mapping.csv')

In [139]:
df3=pd.read_csv('G:\\Datascience_experiments\\Assignment_news_classification_bangalore\\news_details.csv')

In [140]:
df2

                              news_id  category_id
0     5cb377684f646938b14a96f1_google            4
1     5cb426d44f646938b10bf6b6_google            4
2     5cb429984f646938b110f937_google            2
3     5cb426b34f646938b10bbeca_google            5
4     5cb426f74f646938b10c3857_google            7
...                               ...          ...
3539  5cd41b4729458140ed753ffd_google            5
3540  5cd44e3329458140ed0bebdd_google            6
3541  5cd418f329458140ed6dfaaa_google            2
3542  5cd4116529458140ed561679_google            4
3543  5cd3e2b529458140edcd9a0b_google            4

[3544 rows x 2 columns]

In [141]:
df3

,news_id,snippet,title,news_description
0,5cb377684f646938b14a96f1_google,"New Delhi: Bank of Baroda, which has become th...",Bank of Baroda to hire consultancy firm to eva...,NaN
1,5cb426d44f646938b10bf6b6_google,He said his plans would be discussed with the ...,Foxconn chairman Gou says he aims to step down...,TAIPEI (Reuters) - The chairman of Taiwan's Fo...
2,5cb429984f646938b110f937_google,ZF Friedrichshafen AG has announced that it ha...,ZF Finalizes USD 7 Billion Deal to Acquire WABCO,Share 0 Share 0\n\nZF Friedrichshafen AG has a...
3,5cb426b34f646938b10bbeca_google,Zhejiang Geely Holding (ZGH) has begun constru...,Geely Begins Work On New Lotus Plant In China,Zhejiang Geely Holding (ZGH) has begun constru...
4,5cb426f74f646938b10c3857_google,KFH has partnered with IDEMIA to launch Kuwait...,KFH partners with IDEMIA's to launch metal pay...,NaN
...,...,...,...,...
3539,5cd41b4729458140ed753ffd_google,The two offices in Vienna's Guglgasse and in t...,"Nagarro Office Opening: ""Work is the place whe...",The two offices in Guglgasse and Alte AKH in V...
3540,5cd44e3329458140ed0bebdd_google,Airbus Americas Inc. has inked a deal for expa...,Exclusive: Airbus inks deal for more space in ...,Airbus Americas Inc. has inked a deal for expa...
3541,5cd418f329458140ed6dfaaa_google,"Single Digits, Inc. announced today that it ha...",Single Digits Acquires The High-Speed Internet...,"Single Digits, Inc. announced today that it ha..."
3542,5cd4116529458140ed561679_google,"Tempus Resources Ltd (ASX: TMR), a mineral exp...",Tempus Resources Acquired 2 Ecuadorian compani...,"Tempus Resources Ltd (ASX: TMR), a mineral exp..."
3543,5cd3e2b529458140edcd9a0b_google,"New Relic, Inc. (NEWR), provider of real-time ...",Andrew Lawson Joins New Relic as Executive Vic...,"LONDON--(BUSINESS WIRE)--\n\nNew Relic, Inc. (..."

In [142]:
y=df2.drop('news_id',axis=1)

In [143]:
y

      category_id
0               4
1               4
2               2
3               5
4               7
...           ...
3539            5
3540            6
3541            2
3542            4
3543            4

[3544 rows x 1 columns]

In [144]:
df4=pd.concat([df2,df3],axis=1)

In [145]:
df4

,news_id,category_id,news_id,snippet,title,news_description
0,5cb377684f646938b14a96f1_google,4,5cb377684f646938b14a96f1_google,"New Delhi: Bank of Baroda, which has become th...",Bank of Baroda to hire consultancy firm to eva...,NaN
1,5cb426d44f646938b10bf6b6_google,4,5cb426d44f646938b10bf6b6_google,He said his plans would be discussed with the ...,Foxconn chairman Gou says he aims to step down...,TAIPEI (Reuters) - The chairman of Taiwan's Fo...
2,5cb429984f646938b110f937_google,2,5cb429984f646938b110f937_google,ZF Friedrichshafen AG has announced that it ha...,ZF Finalizes USD 7 Billion Deal to Acquire WABCO,Share 0 Share 0\n\nZF Friedrichshafen AG has a...
3,5cb426b34f646938b10bbeca_google,5,5cb426b34f646938b10bbeca_google,Zhejiang Geely Holding (ZGH) has begun constru...,Geely Begins Work On New Lotus Plant In China,Zhejiang Geely Holding (ZGH) has begun constru...
4,5cb426f74f646938b10c3857_google,7,5cb426f74f646938b10c3857_google,KFH has partnered with IDEMIA to launch Kuwait...,KFH partners with IDEMIA's to launch metal pay...,NaN
...,...,...,...,...,...,...
3539,5cd41b4729458140ed753ffd_google,5,5cd41b4729458140ed753ffd_google,The two offices in Vienna's Guglgasse and in t...,"Nagarro Office Opening: ""Work is the place whe...",The two offices in Guglgasse and Alte AKH in V...
3540,5cd44e3329458140ed0bebdd_google,6,5cd44e3329458140ed0bebdd_google,Airbus Americas Inc. has inked a deal for expa...,Exclusive: Airbus inks deal for more space in ...,Airbus Americas Inc. has inked a deal for expa...
3541,5cd418f329458140ed6dfaaa_google,2,5cd418f329458140ed6dfaaa_google,"Single Digits, Inc. announced today that it ha...",Single Digits Acquires The High-Speed Internet...,"Single Digits, Inc. announced today that it ha..."
3542,5cd4116529458140ed561679_google,4,5cd4116529458140ed561679_google,"Tempus Resources Ltd (ASX: TMR), a mineral exp...",Tempus Resources Acquired 2 Ecuadorian compani...,"Tempus Resources Ltd (ASX: TMR), a mineral exp..."
3543,5cd3e2b529458140edcd9a0b_google,4,5cd3e2b529458140edcd9a0b_google,"New Relic, Inc. (NEWR), provider of real-time ...",Andrew Lawson Joins New Relic as Executive Vic...,"LONDON--(BUSINESS WIRE)--\n\nNew Relic, Inc. (..."

In [146]:
df5=df4.dropna()

In [147]:
df5

,news_id,category_id,news_id,snippet,title,news_description
1,5cb426d44f646938b10bf6b6_google,4,5cb426d44f646938b10bf6b6_google,He said his plans would be discussed with the ...,Foxconn chairman Gou says he aims to step down...,TAIPEI (Reuters) - The chairman of Taiwan's Fo...
2,5cb429984f646938b110f937_google,2,5cb429984f646938b110f937_google,ZF Friedrichshafen AG has announced that it ha...,ZF Finalizes USD 7 Billion Deal to Acquire WABCO,Share 0 Share 0\n\nZF Friedrichshafen AG has a...
3,5cb426b34f646938b10bbeca_google,5,5cb426b34f646938b10bbeca_google,Zhejiang Geely Holding (ZGH) has begun constru...,Geely Begins Work On New Lotus Plant In China,Zhejiang Geely Holding (ZGH) has begun constru...
5,5cb427e74f646938b10de598_google,4,5cb427e74f646938b10de598_google,Family values: Andrew Moore wants to devote mo...,Moore steps down from top job at Renault,RENAULT Australia managing director Andrew Moo...
6,5cb426914f646938b10b8427_google,5,5cb426914f646938b10b8427_google,Facebook appears poised for another massive ex...,Facebook prepares to add another 1 million-squ...,Facebook appears poised for another massive ex...
...,...,...,...,...,...,...
3539,5cd41b4729458140ed753ffd_google,5,5cd41b4729458140ed753ffd_google,The two offices in Vienna's Guglgasse and in t...,"Nagarro Office Opening: ""Work is the place whe...",The two offices in Guglgasse and Alte AKH in V...
3540,5cd44e3329458140ed0bebdd_google,6,5cd44e3329458140ed0bebdd_google,Airbus Americas Inc. has inked a deal for expa...,Exclusive: Airbus inks deal for more space in ...,Airbus Americas Inc. has inked a deal for expa...
3541,5cd418f329458140ed6dfaaa_google,2,5cd418f329458140ed6dfaaa_google,"Single Digits, Inc. announced today that it ha...",Single Digits Acquires The High-Speed Internet...,"Single Digits, Inc. announced today that it ha..."
3542,5cd4116529458140ed561679_google,4,5cd4116529458140ed561679_google,"Tempus Resources Ltd (ASX: TMR), a mineral exp...",Tempus Resources Acquired 2 Ecuadorian compani...,"Tempus Resources Ltd (ASX: TMR), a mineral exp..."
3543,5cd3e2b529458140edcd9a0b_google,4,5cd3e2b529458140edcd9a0b_google,"New Relic, Inc. (NEWR), provider of real-time ...",Andrew Lawson Joins New Relic as Executive Vic...,"LONDON--(BUSINESS WIRE)--\n\nNew Relic, Inc. (..."

In [148]:
messages=df5.copy()

In [149]:
messages.reset_index(inplace=True)

In [150]:
messages.head(10)

,index,news_id,category_id,news_id,snippet,title,news_description
0,1,5cb426d44f646938b10bf6b6_google,4,5cb426d44f646938b10bf6b6_google,He said his plans would be discussed with the ...,Foxconn chairman Gou says he aims to step down...,TAIPEI (Reuters) - The chairman of Taiwan's Fo...
1,2,5cb429984f646938b110f937_google,2,5cb429984f646938b110f937_google,ZF Friedrichshafen AG has announced that it ha...,ZF Finalizes USD 7 Billion Deal to Acquire WABCO,Share 0 Share 0\n\nZF Friedrichshafen AG has a...
2,3,5cb426b34f646938b10bbeca_google,5,5cb426b34f646938b10bbeca_google,Zhejiang Geely Holding (ZGH) has begun constru...,Geely Begins Work On New Lotus Plant In China,Zhejiang Geely Holding (ZGH) has begun constru...
3,5,5cb427e74f646938b10de598_google,4,5cb427e74f646938b10de598_google,Family values: Andrew Moore wants to devote mo...,Moore steps down from top job at Renault,RENAULT Australia managing director Andrew Moo...
4,6,5cb426914f646938b10b8427_google,5,5cb426914f646938b10b8427_google,Facebook appears poised for another massive ex...,Facebook prepares to add another 1 million-squ...,Facebook appears poised for another massive ex...
5,7,5cb409644f646938b1e58c55_google,6,5cb409644f646938b1e58c55_google,"HOUSTON -- McDermott International, Inc. has a...",McDermott awarded large offshore EPCI contract...,McDermott awarded large offshore EPCI contract...
6,8,5cb428694f646938b10ed222_google,4,5cb428694f646938b10ed222_google,"State Street Corporation, (State Street), NYSE...",State Street Appoints Francisco Aristeguieta t...,"State Street Corporation, (State Street), NYSE..."
7,9,5cb51a8c4f646938b1c4249a_google,2,5cb51a8c4f646938b1c4249a_google,Merger talks between Occidental Petroleum and ...,Occidental bid for Anadarko reached mid-$70s p...,Merger talks between Occidental Petroleum and ...
8,10,5cb507ea4f646938b1a76ad8_google,7,5cb507ea4f646938b1a76ad8_google,Doosan Robotics offers COBOTs that can be usef...,RG Group announces distribution and integratio...,Doosan Robotics offers COBOTs that can be usef...
9,11,5cb4286c4f646938b10ed659_google,4,5cb4286c4f646938b10ed659_google,Financial services provider State Street Corpo...,State Street names global biz head; Eastspring...,State Street has hired former Citigroup Asia C...

In [151]:
df6=messages.drop('news_id',axis=1)

In [152]:
df6

,index,category_id,snippet,title,news_description
0,1,4,He said his plans would be discussed with the ...,Foxconn chairman Gou says he aims to step down...,TAIPEI (Reuters) - The chairman of Taiwan's Fo...
1,2,2,ZF Friedrichshafen AG has announced that it ha...,ZF Finalizes USD 7 Billion Deal to Acquire WABCO,Share 0 Share 0\n\nZF Friedrichshafen AG has a...
2,3,5,Zhejiang Geely Holding (ZGH) has begun constru...,Geely Begins Work On New Lotus Plant In China,Zhejiang Geely Holding (ZGH) has begun constru...
3,5,4,Family values: Andrew Moore wants to devote mo...,Moore steps down from top job at Renault,RENAULT Australia managing director Andrew Moo...
4,6,5,Facebook appears poised for another massive ex...,Facebook prepares to add another 1 million-squ...,Facebook appears poised for another massive ex...
...,...,...,...,...,...
3342,3539,5,The two offices in Vienna's Guglgasse and in t...,"Nagarro Office Opening: ""Work is the place whe...",The two offices in Guglgasse and Alte AKH in V...
3343,3540,6,Airbus Americas Inc. has inked a deal for expa...,Exclusive: Airbus inks deal for more space in ...,Airbus Americas Inc. has inked a deal for expa...
3344,3541,2,"Single Digits, Inc. announced today that it ha...",Single Digits Acquires The High-Speed Internet...,"Single Digits, Inc. announced today that it ha..."
3345,3542,4,"Tempus Resources Ltd (ASX: TMR), a mineral exp...",Tempus Resources Acquired 2 Ecuadorian compani...,"Tempus Resources Ltd (ASX: TMR), a mineral exp..."
3346,3543,4,"New Relic, Inc. (NEWR), provider of real-time ...",Andrew Lawson Joins New Relic as Executive Vic...,"LONDON--(BUSINESS WIRE)--\n\nNew Relic, Inc. (..."

In [153]:
X=df6.drop('category_id',axis=1)

In [154]:
X

,index,snippet,title,news_description
0,1,He said his plans would be discussed with the ...,Foxconn chairman Gou says he aims to step down...,TAIPEI (Reuters) - The chairman of Taiwan's Fo...
1,2,ZF Friedrichshafen AG has announced that it ha...,ZF Finalizes USD 7 Billion Deal to Acquire WABCO,Share 0 Share 0\n\nZF Friedrichshafen AG has a...
2,3,Zhejiang Geely Holding (ZGH) has begun constru...,Geely Begins Work On New Lotus Plant In China,Zhejiang Geely Holding (ZGH) has begun constru...
3,5,Family values: Andrew Moore wants to devote mo...,Moore steps down from top job at Renault,RENAULT Australia managing director Andrew Moo...
4,6,Facebook appears poised for another massive ex...,Facebook prepares to add another 1 million-squ...,Facebook appears poised for another massive ex...
...,...,...,...,...
3342,3539,The two offices in Vienna's Guglgasse and in t...,"Nagarro Office Opening: ""Work is the place whe...",The two offices in Guglgasse and Alte AKH in V...
3343,3540,Airbus Americas Inc. has inked a deal for expa...,Exclusive: Airbus inks deal for more space in ...,Airbus Americas Inc. has inked a deal for expa...
3344,3541,"Single Digits, Inc. announced today that it ha...",Single Digits Acquires The High-Speed Internet...,"Single Digits, Inc. announced today that it ha..."
3345,3542,"Tempus Resources Ltd (ASX: TMR), a mineral exp...",Tempus Resources Acquired 2 Ecuadorian compani...,"Tempus Resources Ltd (ASX: TMR), a mineral exp..."
3346,3543,"New Relic, Inc. (NEWR), provider of real-time ...",Andrew Lawson Joins New Relic as Executive Vic...,"LONDON--(BUSINESS WIRE)--\n\nNew Relic, Inc. (..."

In [155]:
X.loc[X['index'] == 11]

,index,snippet,title,news_description
9,11,Financial services provider State Street Corpo...,State Street names global biz head; Eastspring...,State Street has hired former Citigroup Asia C...

In [156]:
y=messages["category_id"]

In [157]:
y

0       4
1       2
2       5
3       4
4       5
       ..
3342    5
3343    6
3344    2
3345    4
3346    4
Name: category_id, Length: 3347, dtype: int64

In [158]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Venkatesan
[nltk_data]     R\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [159]:
# preprocessing including all snippet, title, news_description

In [160]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
ps = PorterStemmer()
combined = []
for i in range(0, len(messages)):
    review = re.sub('[^a-zA-Z]', ' ', messages['snippet'][i]+" "+ messages['title'][i]+" "+ messages['news_description'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    combined.append(review)

In [161]:
combined[9]

'financi servic provid state street corpor name francisco aristeguieta chief execut offic intern busi accord xa state street name global biz head eastspr malaysia unit appoint ceo state street hire former citigroup asia ceo francisco aristeguieta head intern busi eastspr malaysia name new ceo islam asset manag unit n nstate street hire former citigroup asia ceo head intern busi n nfinanci servic provid state street corpor name francisco aristeguieta chief execut offic intern busi accord announc n naristeguieta recent ceo citigroup u asia busi join state street juli report ron u hanley state street presid ceo n niniti base hong kong aristeguieta respons state street u busi activ outsid us includ drive strategi steward client engag develop talent pursu growth opportun increas market share well deepen relationship local govern offici regul n nin addit becom member compani u manag committe n neastspr malaysia name new ceo n nthe malaysian unit eastspr invest ltd hire khadijah sairah ibrahim head islam asset manag arm asia asset manag report n na ceo execut director eastspr al wara invest berhad khadijah sairah respons u cgrowth develop u islam fund busi n nshe join compani rhb islam intern asset manag head govern link compani public sector three year n nprior head portfolio invest advisori manulif asset manag month n neastspr malaysia billion ringgit billion asset manag aum decemb islam fund manag arm asset billion ringgit n neastspr invest berhad recent announc launch eastspr invest islam equiti incom fund shariah compliant equiti fund seek provid stabl incom stream medium long term capit growth n nalso read n npeopl digest softbank ventur asia hire lee cfo state street get apac head n nsingapor base eastspr invest downsiz workforc'

In [162]:
#Feature Extraction using TFIDF vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_v=TfidfVectorizer(max_features=5000,ngram_range=(1,3))
X=tfidf_v.fit_transform(combined).toarray()

In [163]:
X[0].shape

(5000,)

In [164]:
X.shape

(3347, 5000)

In [165]:
y=messages["category_id"]
y.shape

(3347,)

In [166]:
## Divide the dataset into Train and Test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [167]:
#Naive Bayes classifier
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
import numpy as np
import itertools
classifier=MultinomialNB()
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.743

In [168]:
#logistic regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)

accuracy:   0.850

In [169]:
#linear regression
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)
pred = reg.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)

accuracy:   0.850

In [170]:
#Decision tree
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score) #0.764

accuracy:   0.744

In [171]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)

accuracy:   0.824

In [172]:
#Support Vector Machine
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)#0.824

accuracy:   0.855

In [173]:
# Fine Tuning the model used to give best results

In [174]:
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(svm.SVC(gamma='auto'), {
        'C': [1,10,20],
        'kernel': ['rbf','linear']
    }, 
    cv=5, 
    return_train_score=False, 
    n_iter=2
)
rs.fit(X_train, y_train)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.302408
1      10       linear         0.860838

In [175]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [176]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                    best_params
0                  svm    0.860838  {'C': 10, 'kernel': 'linear'}
1        random_forest    0.763601           {'n_estimators': 10}
2  logistic_regression    0.867534                      {'C': 10}

In [177]:
## Applying Countvectorizer
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
X = cv.fit_transform(combined).toarray()

In [178]:
## Divide the dataset into Train and Test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [179]:
#linear regression
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)
pred = reg.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)

accuracy:   0.855

In [180]:
#logistic regression

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)

accuracy:   0.899

G:\New folder\envs\pyfor\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [181]:
#Decision Tree
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score) #0.764

accuracy:   0.781

In [182]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)

accuracy:   0.823

In [183]:
#Support Vector Machine
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
score = metrics.accuracy_score(y_test, y_predicted)
print("accuracy:   %0.3f" % score)

accuracy:   0.863

In [184]:
#Naive Bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
import numpy as np
import itertools
classifier=MultinomialNB()
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.815

In [185]:
# Fine Tuning the model used to give best results

In [186]:
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(svm.SVC(gamma='auto'), {
        'C': [1,10,20],
        'kernel': ['rbf','linear']
    }, 
    cv=5, 
    return_train_score=False, 
    n_iter=2
)
rs.fit(X_train, y_train)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0      20       linear         0.877346
1       1       linear         0.877346

In [187]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [188]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                 best_params
0                  svm    0.879580  {'C': 10, 'kernel': 'rbf'}
1        random_forest    0.781899        {'n_estimators': 10}
2  logistic_regression    0.886261                    {'C': 5}

In [ ]:
#  Any other comments/experiment details.
#1. we can also try word2vec along with different classification models
#2. Apply pretrained models for further analysis